@font-face {
    font-family: Open-Sans;
    src: url(./fonts/Open_Sans/static/OpenSans-Regular.ttf);
}
/*Remove all margins to have clean layout initially*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open-Sans";
    font-weight: bold;
}

/*Top bar*/
.top-menu-container {
    background-color: darkred;
    color: white;
    padding: 30px 0;
    display: flex;
    justify-content: center;
}

.menu {
    /* border: 1px solid black; */
    width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-category-button {
    border: 2px solid black;
    justify-content: flex-start;
    margin-left: 10px;
}

.logo {
    /* border: 1px solid black; */
    justify-content: flex-start;
    margin-left: 10px;
}

.links {
    /* border: 1px solid black; */
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}

.login {
    margin-left: 20px;
}

/*Categories Menu*/

.middle-categories-container {
    /*border: 1px solid blue;*/
    padding: 10px 0;
    display: flex;
    justify-content: center;
    
}

.categories-list {
    /*border: 1px solid black;*/
    display: flex;
    list-style-type: none;
    width: 800px;
    justify-content: space-between;
    font-size: 18px;
    color: black;
}

.middle-menu-top {
    font-size: 16px;
    padding-top: 5px;
}

/*middle*/
.middle-container {
    border: 2px solid black;
    display: flex;
    justify-content:space-between;
    margin-top: 50px;
}

.middle-image-left {
    /*border: 2px solid blue;*/
    justify-content:flex-start;
    width: 800px;
    height: 550px;
    background-image:url(./images/food-bg.jpeg);
    background-size:cover;
    padding-left: 0px;
    margin-left: 0px;
}

.recipes-sugestions {
    border: 2px solid pink;
    justify-content: flex-end;
}